:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#banner {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: aqua;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#bg {
  position: absolute;
  background-image: url(./assets/tumbler.webp);
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  left: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -1px;
}

#content {
  position: absolute;
  top: 80px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#copy {
  color: white;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.1;
}

#subcopy {
  color: white;
  font-size: 14px;

  font-weight: 500;
  line-height: 1.1;
}

#cta {
  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
  bottom: 20px;
  left: 20px;
  background: black;
  color: white;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
